#calendar-nav {
  text-align: center;
  user-select: none;
}

#calendar-nav span {
  display: inline-block;
  width: 250px;
  font-size:25px;
}

#calendar-nav i:hover {
  cursor: pointer;
}

.table{
  width:50%;
  margin: auto;
}

.table th, td{
  text-align: center;
}

#calendar th:first-child {
  background-color: #FEEEFF;
  color:#ff62b0;
}
#calendar td:first-child {
  background-color: #FEEEFF;
  color:#ff62b0;
}
#calendar th:nth-child(7) {
  background-color: #DFFFFF;
  color:#4eafff;
}
#calendar td:nth-child(7) {
  background-color: #DFFFFF;
  color:#4eafff;
}

#calendar td:hover {
  opacity: 0.6;
}

th, td{
  width:50px;
}
